html {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container h1 {
  font-weight: 200;
  font-size: 5em;
  margin: 0;
}

.container h2 {
  font-weight: 200;
  font-size: 3.6em;
  margin: 0;
}

.font-large {
  font-size: 2em;
}

#main {
  width: 100%;
}
.container {
  width: 100%;
  padding: 60px 40px;
}

.row {

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-1-3{
  width: 33%;
  padding: 10px;
  float: left;
}
.column-2-3 {
  width: 66%;
  padding: 10px;
  float: left;
}

.column-full {
  padding: 10px;
  display: block;
}

.bg-blue {
  background-color: #3949AB;
  color: #fff;
}
.bg-blue-2 {
  background-color: #303F9F;
  color: #fff;
}

.bg-red {
  background-color: #d32f2f;
}
.bg-green {
  background-color: #009688;
  color: #333;
}
.bg-yellow {
  background-color: #FBC02D;
  color: #333;
}

.bg-asphalt {
  background-color: #34495e;
  color: #fff;
}

.code-love {
  padding: 80px 0 20px;
  font-weight: 400;
}

.code-love i {
  margin:0 5px;
}

.container a,
.code-love a {
  color: #fff;
  text-decoration: none;
}

.code-love a:hover,
.container a:hover {
  color: #2ecc71;
}

.btn {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  font-weight: 900;
  background: #27ae60;
  padding: 15px 25px;
  margin: 10px;
  color: #fff;
  border:0;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #1e8449;
  text-shadow: 0px 1px 1px #1e8449;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  outline: none;
}

.btn:hover {
  background: #2ecc71;
}

.btn:active {
  box-shadow: 0px 1px 0px #1e8449;
  -moz-transform: translateX(0px) translateY(2px);
  -webkit-transform: translateX(0px) translateY(2px);
  -o-transform: translateX(0px) translateY(2px);
  -ms-transform: translateX(0px) translateY(2px);
  transform: translateX(0px) translateY(2px);
}

.btn.warn {
  background: #c0392b;
  box-shadow: 0px 3px 0px #962d22;
  text-shadow: 0px 1px 1px #962d22;
}

.btn.warn:hover {
  background: #e74c3c;
}

.btn.warn:active {
  box-shadow: 0px 1px 0px #962d22;
}

.btn i {
  margin-left: 10px;
}
